@font-face {
  font-family: 'MetaOT';
  src: url('../assets/fonts/MetaOT-Bold_0.eot');
  src: url('../assets/fonts/MetaOT-Bold_0.eot?#iefix') format('embedded-opentype'),
     url('../assets/fonts/MetaOT-Bold_0.ttf') format('truetype');      
}
@font-face {
  font-family: 'MetaOTBold';
  src: url('../assets/fonts/MetaWeb-Bold.eot');
  src: url('../assets/fonts/MetaWeb-Bold.eot?#iefix') format('embedded-opentype'),
     url("../assets/fonts/MetaWeb-Bold.woff") format("woff"),
     url("../assets/fonts/MetaWeb-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'MetaOTBook';
  src: url('../assets/fonts/MetaWeb-Book.eot');
  src: url('../assets/fonts/MetaWeb-Book.eot?#iefix') format('embedded-opentype'),
   url("../assets/fonts/MetaWeb-Book.woff") format("woff");
}

@font-face {
  font-family: 'MetaOTBook';
  src: url('../assets/fonts/MetaWeb-Book.eot');
  src: url('../assets/fonts/MetaWeb-Book.eot?#iefix') format('embedded-opentype'),
   url("../assets/fonts/MetaWeb-Book.woff") format("woff");
}

@font-face {
  font-family: 'MetaOTLight';
  src: url('../assets/fonts/MetaWeb-Light.eot');
  src: url('../assets/fonts/MetaWeb-Light.eot?#iefix') format('embedded-opentype'),
   url("../assets/fonts/MetaWeb-Light.woff") format("woff"),
   url("../assets/fonts/MetaWeb-Light.ttf") format("truetype");
}
/*==================================================
  GENERAL
==================================================*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height:100%;
}

h1, h2, h3, h4,h5,h6 {color:#555;}
h1, h2, h3, h4 {
  font-family: 'MetaOTLight', sans-serif;
  font-weight: normal;
}
h1 {
  margin-top:30px;
}
h4 {
  text-shadow:0 1px 0 rgba(255,255,255,1);
  font-weight:normal;
  margin:25px 0 10px;
  margin-bottom:10px;
  padding:0;
/*
  border:1px solid #fc9013;
  border-radius: 4px 4px 0 0;
  padding:5px 10px;
  margin:-1px -1px 10px;
  background: rgba(252, 144, 19, 0.51);
*/
}
h4:first-child {
  margin-top:0px;
}
h5 {
  color: #555;
  font-size: 16px;
  border-bottom: 3px dotted #ddd;
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  padding-top: 10px;
}

p.strong {
  font-weight: bold;
}

xmp {
  margin:0;
}

a.btn-anchor {
  font-weight: bold;
}
a.btn-anchor:hover {
  text-decoration: none
}

.btn-orange {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background: #F79623;
}
.btn-orange:hover {
  background-color:#F78A08;
}

/*==================================================
  LAYOUT
==================================================*/
header {
  margin:30px 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#content {
  border-top: 20px solid #F79623;
  margin-left:-20px;
  margin-right:-20px;
  background:#fff;
}
#content:after {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 20px;
  bottom: 100%;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 85px 6px rgba(211, 118, 11, 1);
  -moz-box-shadow: 0 85px 6px rgba(211, 118, 11, 1);
  box-shadow: 0 85px 6px rgba(211, 118, 11, 1);
}
.content-bottom {
  padding-top:30px;
}
.content-bottom h3 {
  border-bottom: 3px dotted #ddd;
}

.visual-text, .visual-img {
  width:49.33%;
  display:inline-block;
  padding:0 20px;
  float: left;
  box-sizing:border-box;
  moz-box-sizing:border-box;
}
.visual-img {
  text-align: right;
}

.boxed {
  /*background:#f9f9f9;*/
  min-height:140px;
  padding:19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing:border-box;
  moz-box-sizing:border-box;
}

/*documentation content*/
div.sectioned {
  margin: 0 0 20px;
}
div.doc-text {
  padding:0 10px;
}
div.doc-text p {
  margin:2px;
}

/* TO TOP*/
#toTop-right {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    outline:none;
}
#toTop-left {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:20px;
    left:20px;
    outline:none;
}
#toTop-center {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    left:50%;
    margin-left:-20px; /*Feintuning je nach Inhalt */
    outline:none;
}

/*registration*/
#registration h4 {
  border-bottom:1px solid #ddd;
}

#registration fieldset.boxed {
  min-height: 195px;
}


/*footer*/
#footer {
  background:#c5c5c5;
  color:#555;
}
#footer .credit {
  margin:20px 0;
  color:#fff;
  font-size:12px;
 }
#footer a {
  color: #fff;
}
#footer a:hover {
  text-decoration: underline;
}

#push {
    padding-bottom: 80px;
}

/*==================================================
  NAVIGATION
==================================================*/
nav {
  margin: 20px -20px;
  margin-bottom: 0;
  background: #fff;
  z-index: 10;
  position: relative;
  margin-top: 0;
  padding-top: 20px;
}
nav .logo {
  display: inline-block;
  position: relative;
  height: 35px;
  float: left;
  margin-top:5px;
  padding-bottom: 20px;
}
nav .logo img{
  width:150px;
}
nav .logo span{
  font-family: 'MetaOTLight', sans-serif;
  font-weight: normal;
  font-size:22px;
  padding-left:5px;
  padding-top:5px;
  color:#757575;
  display: block;
  float: right;
}
nav .navbar {
  margin-bottom:0;
  z-index: 10;
  background:#fff;
  position: relative;
}
nav .nav-collapse {
  float:right;
} 
nav .logo:hover{
  text-decoration: none;
}

a {border-radius:4px;}

.navbar .nav>li>a {
  margin:0 2px;
}
a.active {background:#ddd;}
.navbar .nav>li>a.active {
  border-radius:4px;
  color: #fff;
  background-color:#F79623;
  text-shadow:none;
}
.dropdown-menu>li>a {
  border-radius: 0;
}

/*==================================================
  FORM
==================================================*/
.form-btns {
  padding:10px 0;
}
/*==================================================
  BOOTSTRAP
==================================================*/

/*modal*/
.modal-inner {
  border-radius: 0 0 4px 4px;
  padding-bottom:10px;
  max-height: 800px;
}
/*==================================================
  FONT AWESOME
==================================================*/
.icon-question-sign {
  font-size: 17px;
  color: #1748A4;
  border-radius: 15px;
  opacity: 0.8;
}
.icon-question-sign:hover {
  text-decoration: none;
  opacity: 1;
}

a .icon-angle-right {
  padding: 0px 5px 1px;
  margin-right: 3px;
  background-color: #08c;
  color: #fff;
  border-radius: 4px;
}
a:hover .icon-angle-right {
  background-color:#005580;
}
/*==================================================
  PRETTIFY
==================================================*/
pre.prettyprint {
  background:#fff;
  border:1px solid #ddd;
  padding:10px;
}
.tag, .typ {
  font-weight:bold;
}
/*==================================================
 * Shadow Effect
 * ===============================================*/
.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
/*==================================================
  RESPONSIVE
==================================================*/

/*modal*/
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (max-width: 979px){

  nav .nav-collapse, nav .logo {
    float:none;
  }
  nav .logo {margin-left:10px;}

}


@media (min-width: 800px) {
  body .modal{
      width: 680px;
      margin-left: -390px; /* - width/2 */
  }
}

