@font-face {
  font-family: 'MetaOT';
  src: url('../fonts/MetaOT-Bold_0.eot');
  src: url('../fonts/MetaOT-Bold_0.eot?#iefix') format('embedded-opentype'),
     url('../fonts/MetaOT-Bold_0.ttf') format('truetype');      
}
@font-face {
  font-family: 'MetaOTBold';
  src: url('../fonts/MetaWeb-Bold.eot');
  src: url('../fonts/MetaWeb-Bold.eot?#iefix') format('embedded-opentype'),
     url("../fonts/MetaWeb-Bold.woff") format("woff"),
     url("../fonts/MetaWeb-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'MetaOTBook';
  src: url('../fonts/MetaWeb-Book.eot');
  src: url('../fonts/MetaWeb-Book.eot?#iefix') format('embedded-opentype'),
   url("../fonts/MetaWeb-Book.woff") format("woff");
}

@font-face {
  font-family: 'MetaOTBook';
  src: url('../fonts/MetaWeb-Book.eot');
  src: url('../fonts/MetaWeb-Book.eot?#iefix') format('embedded-opentype'),
   url("../fonts/MetaWeb-Book.woff") format("woff");
}


@font-face {
  font-family: 'Lato-Hairline';
  src: url('../assets/fonts/Lato-Hairline.ttf');
}



/*
  GENERAL
*/

html, body {
  height:100%;
}

h1, h2, h3 {
  font-family: 'Lato-Hairline', sans-serif;
}

header {
  margin:30px 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#content {
  padding-bottom:80px;
}

/*
  FOOTER
*/
#footer {
  background: #DF992B;
  color:#555;
}
 .credit {
  margin:20px 0;
 }

footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}

/*
  RESPONSIVE
*/


@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}